<div class="container">
	<div class="card">
  		<div class="card-block">
    		<h4 class="card-title">Se connecter</h4>
				<form autocomplete="off">

				  	<div [class]="controls['loginGroup']" >
				    	<label for="login">E-mail ou nom d'utilisateur</label>
				    	<input 	type="text" 
				    			name="login"
				    			[class]="controls['loginInput']" 
				    			[(ngModel)]="user.login" 
				    			autocomplete="false"> 
  						<div class="form-control-feedback" *ngFor="let error of errors['login']">
  							{{ error }}
  						</div>
				  	</div>


				  	<div [class]="controls['passwordGroup']">
				    	<label for="password">Mot de passe</label>
				    	<input 	type="password" 
				    			name="password"
				    			[class]="controls['passwordInput']"
				    			[(ngModel)]="user.password" 
				    			id="password"
				    			autocomplete="off">
  						<div class="form-control-feedback" *ngFor="let error of errors['password']">
  							{{ error }}
  						</div>
				  	</div>



				  	<button type="button" 
				  			class="btn btn-default" 
				  			(click)="resetForm()">Effacer tout</button>
				  	<button type="button" 
				  			class="btn btn-primary"
				  			(click)="login()">Se connecter</button>
				</form>
		</div>
	</div>
</div>