<div class="container">
	<div class="card">
  		<div class="card-block">
    		<h4 class="card-title">Créer un compte</h4>
				<form>
				  	<div [class]="controls['emailGroup']" >
				    	<label for="email">E-mail</label>
				    	<input 	type="email" 
				    			name="email"
				    			[class]="controls['emailInput']" 
				    			id="email" 
				    			[(ngModel)]="user.email"
				    			(keyup)="validateEmail()"
				    			(change)="validateEmail()"
				    			(click)="updateAllControls()"> 
  						<div class="form-control-feedback" *ngFor="let error of errors['email']">
  							{{ error }}
  						</div>
				  	</div>


				  	<div [class]="controls['usernameGroup']">
				    	<label for="username">Nom d'utilisateur</label>
				    	<input 	type="text" 
				    			name="username"
				    			[class]="controls['usernameInput']"
				    			id="username"
				    			[(ngModel)]="user.username"
				    			(change)="validateUsername()"
				    			(keyup)="validateUsername()"
				    			(click)="updateAllControls()">
  						<div class="form-control-feedback" *ngFor="let error of errors['username']">
  							{{ error }}
  						</div>
				  	</div>

				  	<div [class]="controls['passwordGroup']">
				    	<label for="password">Mot de passe</label>
				    	<input 	type="password" 
				    			name="password"
				    			[class]="controls['passwordInput']"
				    			id="password"
				    			[(ngModel)]="user.password"
				    			(keyup)="validatePassword()"
				    			(change)="validatePassword()"
				    			(click)="updateAllControls()">
  						<div class="form-control-feedback" *ngFor="let error of errors['password']">
  							{{ error }}
  						</div>
				  	</div>

				  	<div [class]="controls['passwordConfirmGroup']">
				    	<label for="passwordConfirm">Mot de passe</label>
				    	<input 	type="password" 
				    			name="passwordConfirm"
				    			[class]="controls['passwordConfirmInput']"
				    			id="passwordConfirm"
				    			[(ngModel)]="user.passwordConfirm"
				    			(change)="validatePasswordConfirm()"
				    			(keyup)="validatePasswordConfirm()"
				    			(click)="updateAllControls()">
  						<div class="form-control-feedback" *ngFor="let error of errors['passwordConfirm']">
  							{{ error }}
  						</div>
				  	</div>



				  	<button type="button" 
				  			class="btn btn-default" 
				  			(click)="resetForm()">Effacer tout</button>
				  	<button type="button" 
				  			class="btn btn-primary"
				  			(click)="register()">Créer le compte</button>
				</form>
		</div>
	</div>
</div>