<div class="container">
	<div class="card">
  		<div class="card-block">
    		<h4 class="card-title">Créer un compte</h4>
				<form>
				  	<div class="form-group">
				    	<label for="email">E-mail</label>
				    	<input type="email" class="form-control" id="email" (keyup)="validateEmail()">
  						<div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
				  	</div>


				  	<div class="form-group">
				    	<label for="username">Nom d'utilisateur</label>
				    	<input type="text" class="form-control" id="username">
				  	</div>


				  	<div class="form-group">
				    	<label for="password">Mot de passe</label>
				    	<input type="password" class="form-control" id="password">
				  	</div>


				  	<div class="form-group">
				    	<label for="passwordConfirm">Confirmer le mot de passe</label>
				    	<input type="password" class="form-control" id="passwordConfirm">
				  	</div>

				  	<button type="button" class="btn btn-default">Effacer tout</button>
				  	<button type="button" class="btn btn-primary">Créer le compte</button>
				</form>
		</div>
	</div>
</div>